<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>

        <link rel="stylesheet" href="../statics/css/contato.css">
        <link rel="stylesheet" href="../statics/css/base.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css">
    </head>

    <body>
        <section>
            <div class="container">

                <!--Efeito blur-->
                <div class="blur"></div>

                <!--Header-->
                <div class="header">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../statics/img/logo1.png" alt="logo-radi">
                        </a>
                    </div>
                    
                    <!--Seção do menu-->
                    <div class="menu">

                        <div >
                            <a href="portfolio.html">Portfólio</a>
                        </div>

                        <div >
                            <a href="contato.html">Contato</a>
                        </div>
                        
                    </div>

                </div>

                <!--Conteudo-->
                <div class="conteudo">

                    <!--Contato-->
                    <div class="contato">
                        <h2>CONTATO</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Soluta qui labore, amet expedita at voluptas porro debitis perferendis 
                            pariatur ut culpa, harum libero reiciendis voluptatum. 
                            Esse unde voluptate accusantium alias.
                        </p>

                        <div class="endereco">
                            <h3>Endereço</h3>
                            <p>RUA RIO DE JANEIRO n°289 - RJ</p>
                        </div>

                        <div class="tel">
                            <h3>Telefone</h3>
                            <p>(96) 3357-3133</p>
                        </div>

                        <div class="email">
                            <h3>Email</h3>
                            <p>contato@email.com</p>
                        </div>
                    </div>

                    <!--Formulario-->
                    <div class="formulario">
                        <form action="">
                            <h2>Formulário para Contato</h2>
                            <div class="areas">
                                <input type="text" placeholder="Insira seu nome">
                                <input type="email" placeholder="Insira seu email">
                                <input type="text" placeholder="Insira seu telefone">
                                <textarea name="" id="" cols="30" rows="10" placeholder="Assunto"></textarea>
    
                            </div>

                            <button type="submit">enviar</button>
                            
                        </form>
                    </div>                    
                </div>


                <!--Footer-->
                <footer class="contc">
                    <div class="sociais">
                        <div class="face">
                            <a href="#">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                        <div class="insta">
                            <a href="#" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-instagram-square"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="#" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-twitter-square"></i>
                            </a>
                        </div>
                    </div>
                    <div class="reg">
                        <p>Desenvolvido por <a href="#" target="_blank" rel="noopener noreferrer">Rafael Silva</a></p>
                    </div>
                </footer>
            </div>
        </section>
    </body>

</html>