.conteudo{
    display: flex;
    flex-direction: column;

    margin-top: 70px;
    text-align: center;
    padding: 0px;
}

.desc1{
    margin-bottom: -5px;
    width: 30%;
    margin-left: 250px;
    text-align: center;

    /*border: solid yellow 1px;*/

}

.desc2{
    margin-top: -5px;
    margin-left: 250px;

    width: 40%;
    text-align: right;
    /*border: solid yellow 1px;*/
}

.logoPrinc img{
    margin-top: 0;
    margin-bottom: 0;
}


/* =======MediaQuerys======= */

@media (max-width: 576px) { 
    .desc1{
        margin-bottom: 0px;
        width: 30%;
        margin-left: 150px;
        text-align: end;
    
        /*border: solid yellow 1px;*/
    
    }

    .desc2{
        margin-top: -5px;
        margin-left: 200px;
    
        width: 40%;
        text-align: right;
        /*border: solid yellow 1px;*/
    }

    .logoPrinc img{
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    }
}